:root {
    --primary-blue: #4BA3C3;
    --pale-blue: #EAFCFF;
    --white: #FFF;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: flex-start; /* Align header content to the left */
    width: 100%; /* Set header to full width */
    margin-left: 30px;
}

.current-network-box {
    display: flex; /* Use flexbox to create a horizontal layout */
    align-items: center; /* Align items vertically in the middle */
    gap: 10px; /* Add a bit of spacing between the icon and text */
}

.current-network {
    color: var(--black, #000);
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.button {
    width: 60%;
    max-width: 800px;
    height: 121px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--primary-blue, #4BA3C3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white, #FFF);
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin-top: -180px; /* Adjust this value to fine-tune the positioning */
    position: relative;
    z-index: 2;
}

.rectangle-box {
    width: 100%;
    height: 250px;
    flex-shrink: 0;
    background-color: var(--pale-blue, #EAFCFF);
    border-bottom: 2px solid var(--primary-blue, #4BA3C3);
    position: relative;
    z-index: 1;
}

.subtitle {
    color: #123C6E;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 15vh; /* Adjust this value to position the subtitle */
    margin-left: 29%; /* Adjust this value to align the subtitle with the button */
    align-self: flex-start; /* Align the subtitle to the left edge */
}

/* Media queries for different screen sizes
@media screen and (max-width: 768px) {
    .subtitle {
        margin-left: 0;
    }
} */

.network-box {
    width: 60%;
    max-width: 800px;
    height: 68px;
    flex-shrink: 0;
    border: 1px solid var(--primary-blue, #4BA3C3);
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.network-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
    padding-left: 10px;
}

.network-name {
    color: var(--dark-blue, #123C6E);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.network-type {
    color: var(--primary-blue, #4BA3C3);
}

.arrow-button {
    background-color: var(--primary-blue, #4BA3C3);
    color: var(--white, #FFF);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}